ALPACA_API_KEY=your_alpaca_api_key
ALPACA_SECRET_KEY=your_alpaca_secret_key
CLICKUP_API_TOKEN=your_clickup_token
CLICKUP_LIST_TRADES=901416672058
CLICKUP_LIST_DAILY=901416672079
CLICKUP_LIST_WEEKLY=901416672081
CLICKUP_LIST_PREMARKET=901416672082
